{% extends "navbar.html" %}

{% block content %}
<div>
    <h2> Sign In </h2>
    <form method="POST" action=''>
        {{ form.as_p }}
       {% csrf_token %}
        {% comment %} <label>username:<label>
        <input type="text" name="username" placeholder="Enter your username" required><br> {% endcomment %}
        <label>Email:<label>
        <input type="email" name="email" placeholder="Enter your Email" required><br>
        <label>Password:<label>
        <input type="password" name="password" placeholder="Enter your Password" required><br>
        <input type="submit" value="Submit"><br>

        <p>Don't have account? Want to create account ?</p>
        <a href="{% url 'signup' %}">Sign Up </a> <br>



    </form>
</div>
{% endblock %}